.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    font-family: "Open Sans", sans-serif;
    
    
}


aside{
    background-color: rgb(242, 242, 242);
    height: 100dvh;
    color: rgb(44, 34, 85);
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box-aside{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box-title{
    display: flex;
    gap: 1rem;
}

.status{
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    gap: 0.5rem;
    
}

.icons-aside{

    width: 2.5rem;
}

main{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
    padding: 4rem;
}

.box-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

}




